name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    #runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/fdpdevops:${{ github.sha }} .
        docker push ${{ secrets.DOCKER_USERNAME }}/fdpdevops:${{ github.sha }}

  test:
    runs-on: ubuntu-latest
    #runs-on: self-hosted
    needs: build

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Pull Docker image
      run: docker pull ${{ secrets.DOCKER_USERNAME }}/fdpdevops:${{ github.sha }}

    - name: Run tests
      run: docker run ${{ secrets.DOCKER_USERNAME }}/fdpdevops:${{ github.sha }} npm test

  deploy:
    runs-on: ubuntu-latest
    #runs-on: self-hosted
    needs: test

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Minikube
      uses: manusa/actions-setup-minikube@v2.13.1
      with:
          minikube version: 'v1.34.0'
          kubernetes version: 'v1.30.5'
          github token: ${{ secrets.GITHUB_TOKEN }}
    - name: Interact with the cluster
      run: kubectl get nodes
    - name: Trigger the deployment
      run: kubectl apply -f k8s/deployment.yml
    - name: Trigger the Service
      run: kubectl apply -f k8s/service.yml
