name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    #runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/fdpdevops:${{ github.sha }} .
        docker push ${{ secrets.DOCKER_USERNAME }}/fdpdevops:${{ github.sha }}

  test:
    runs-on: ubuntu-latest
    #runs-on: self-hosted
    needs: build

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Pull Docker image
      run: docker pull ${{ secrets.DOCKER_USERNAME }}/fdpdevops:${{ github.sha }}

    - name: Run tests
      run: docker run ${{ secrets.DOCKER_USERNAME }}/fdpdevops:${{ github.sha }} npm test

  deploy:
    runs-on: ubuntu-latest
    #runs-on: self-hosted
    needs: test

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Setup Minikube
      uses: manusa/actions-setup-minikube@v2.13.1
      with:
          minikube version: 'v1.34.0'
          kubernetes version: 'v1.30.5'
          driver: 'docker'
          github token: ${{ secrets.GITHUB_TOKEN }}
          
    - name: Start minikube
      run: minikube start --driver=docker

    - name: Setup kubectl
      uses: azure/setup-kubectl@v3
      with:
         version: 'v1.30.5'
         
    - name: Apply Kubernetes manifests
      run: |
        kubectl apply -f k8s/deployment.yml
        kubectl apply -f k8s/service.yml   
      
    - name: Verify deployment
      run: |
        minikube kubectl -- rollout status deployment/calculator-microservice-deployment
        minikube kubectl -- get nodes

    - name: Get Minikube service URL
      id: get-service-url
      run: |
       url=$(minikube service calculator-microservice-service --url)
       echo "url=$url" >> $GITHUB_ENV
      shell: bash
      env:
       MINIKUBE_HOME: /home/runner/work/_temp
    - name: Test the calculator microservice
      run: |
        expected_output="15"  # Set the expected output value
        $serviceUrl = "${{ env.url }}/calculator/multiply?a=5&b=3"
        echo "Service URL: $serviceUrl"
        $response = $(curl -s $serviceUrl)
        echo "Response: $response"
    
        if [ "$response" == "expected_output" ]; then 
          echo "Service is up and running."
        else
          echo "Service is not responding as expected."
          exit 1
        fi
      shell: bash
      env:
       MINIKUBE_HOME: /home/runner/work/_temp
       url: http://192.168.49.2:31323
